:root {
  --fs-bg: #111827;
  --fs-text: #ffffff;
}

.fullscreen-centered {
  height: 100vh;
  background-color: var(--fs-bg);
  color: var(--fs-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
