:root {
  --modal-bg: rgb(227, 238, 255);
  --modal-text: #000000;
}

:root.darl {
  --modal-bg: oklch(37.2% 0.044 257.287);
  --modal-text: #ffffff;
}

.modal-container {
  background-color: var(--modal-bg);
  color: var(--modal-text);
}
